body {
  margin: 0 auto;
}

section {
  margin: 40px 0;
}

.jumbotron {
}

.jumbotron .controls {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.jumbotron .controls button {
  margin: 20px;
  padding: 20px;
  min-width: 150px;
  box-shadow: none;
  border: 1px solid black;
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
}

.jumbotron .controls button:hover {
  background: black;
  color: white;
}

.jumbotron .stopwatch {
  margin: 40px;
  font-size: 32px;
  line-height: 60px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 3px;
  letter-spacing: 6px;
}

.results {
  list-style: none;
}

.results li {
  margin: 20px;
  padding: 20px;
  font-size: 26px;
  letter-spacing: 4px;
  border: 1px solid black;
  border-radius: 3px;
}
